
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>SellIt | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/site_media/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/site_media/css/star-rating.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/site_media/css/navbar-fixed-top.css" rel="stylesheet">
    <script src="/site_media/js/jquery.js"></script>
    <script src="/site_media/js/bootstrap.min.js"></script>
    <script src="/site_media/js/docs.min.js"></script>
    <script src="/site_media/js/star-rating.js"></script>
    <script src="/site_media/js/docs.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css">
textarea{
        resize:none;
    }

  </style>
  </head>


  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SellIt 
            {% if user.username %}
            | Hello <b>{{user.username|title}}</b>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li><a href="/track_order">Track Order</a></li>
            {% if user.username %}
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li><a href="/login/">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="col-md-3">
{% if related_item|length > 1 %}
  
    <h4> Related Items</h4>
  <div class="row"> 
  {% for item in related_item %}
    {% if item_detail.id == item.item.id %}
      {% else %} 
          <div class="col-xs-4 col-md-4">
              <a href='/detail/{{item.item.id}}' class="thumbnail"><img src='{{item.thumbnail}}' style="min-height:50px;height:50px;"></a>
          </div>
    {% endif %}  
  {% endfor %}
  </div>
{% endif %}   

{% if itembought|length > 1 %}
  <h4>People who bought this</h4>
  <div class="row"> 
  {% for user in itembought %}
    <div class="col-xs-12 col-md-12">
      <a href='#' class="thumbnail">{{user.order.order_by|title}}<hr>
      {{user.order.shipping_address}}</a>
    </div>  
  {% endfor %}
  </div>
{% endif %}
</div>
<div class="col-md-8"> 
{% if item_detail %}
  <div class="panel panel-default">
  <div class="panel-body">
   <h2>{{item_detail.name}}</h2>
  </div>
  <div class="panel-footer">
  </div>
  </div>  
     <div class="col-md-6"> 
      <img src='{{item_pictures.url}}'>
     </div>
     <div class="col-md-6"> 

                  <input type="number " id="star_feedback_avg" showCaption="false" class="rating" size="xs" value="{{avg_rating}}" disabled="true" >
                  <script type="text/javascript">
                    $("#star_feedback_avg").rating();
                  </script>     
                  <h3>Price : INR {{item_detail.selling_price}}</h3>
                  <h3>Stock Left : {{item_detail.stock_left}}</h3>
                  <h3>Provider : {{item_detail.added_by}}</h3>
                <a roll="button" class="btn btn-primary" href="/order/{{item_detail.id}}">Buy this</a>
     </div>      
  
  
  </div>  
  <div class="col-md-12"> 
    <div class="col-md-3"> 
    </div>  
    
    <div class="col-md-8"> 
            <h2>Comments and Feedback</h2>

          {% if user.username %}


            <hr>
           {% if userFeedbackYN.given == True %}
            {% for feed in userFeedbackYN.feedback %}

            <h2>Your Feedback</h2>
              
              <input type="number " id="star_feedback0" showCaption="false" class="rating" size="xs" value="{{feed.stars_given}}" disabled="true" >
              <textarea class="form-control" rows="3"  disabled> {{feed.comment}} </textarea> 
              <br>
              
            {% endfor %} 



           {% else %} 
            <h2>Add your feedback</h2>  
            <form class="form-horizontal" role="form" method="post" id="feedback_form" >
            {% csrf_token %}
            <input type="number " id="star_feedback0" showCaption="false" class="rating" size="xs"  name="star" >
            <textarea class="form-control" rows="3" name="feedback"> </textarea> 
            <input type="hidden" name="item_id" value="{{item_detail.id}}"/>
            <input type="submit" class="btn btn-default" roll="button" />  
           {% endif %} 
          <script type="text/javascript">
                $("#star_feedback0").rating();
          </script>     
          {% endif %}

          {% for feed in feedback %}
           <hr>     
          <h2>{{feed.user}}</h2>
           
              <input type="number " id="star_feedback{{forloop.counter}}" showCaption="false" class="rating" size="xs" value="{{feed.stars_given}}" disabled="true" >

              <textarea class="form-control" rows="3"  disabled> {{feed.comment}} </textarea> 

          <script type="text/javascript">
                $("#star_feedback{{forloop.counter}}").rating();
            </script>   
          {% endfor %}
          </div>
          {% else %}
              <p>No Items are available.</p>
          {% endif %}

    </div>        
</div>
    </div> <!-- /container -->
<script type="text/javascript">
    
      $( "#feedback_form" ).submit(function( event ) {
            
            event.preventDefault();
            data=$("#feedback_form").serialize();
            $.ajax({
              url:'/item_feedback/',
              method:'POST',
              data:data,
              dataType:"html",
              success:function(data) {
                alert("Feedback Added Successfully");
                window.location.reload();
              }

            });
});

  </script>   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    

  </body>
</html>
