
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>SellIt | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/site_media/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="/site_media/css/jquery-ui.css"></script>
    <!-- Custom styles for this template -->
    <link href="/site_media/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
  #sidebar {
  margin-left: 0px;
  top: 10px;
  bottom: 0px;
  min-height: 100%;
}

 
#sidebar > .nav > .nav-menu > a {
  border: 0px;
  border-radius: 0px;
  padding: 20px;
}
#menuactive{
  background-color: #2C2C2C;
} 
#main {
  float: right;
}
  </style>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SellIt 
            {% if user.username %}
            | Hello <b>{{user.username|title}}</b>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/track_order">Track Order</a></li>
            {% if user.username %}
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
            {% endif %}
            
          </ul>
        </div><!--/.nav-collapse --> 
            
          
        
      </div>
    </div>

<div class="col-md-3">
  <div class="right-inner-addon">
        <i class="icon-search"></i>
        
        <input list="mainsearch" id="input" name="search" class="form-control" placeholder="Search">
          <datalist id="mainsearch">
          </datalist>
  </div> 
<hr>

<div id="sidebar" class="sidebar-nav span3">
            <ul class="nav nav-tabs nav-stacked">
              {% if cat_id|add:0 == 0 %}              
                <li class="nav-menu" id='menuactive' ><a href="/">Home</a></li>
              {% else %}
                <li class="nav-menu"  ><a href="/">Home</a></li>
              {% endif %}
                    
              {% if category %}

                {% for cat in category %}

                  {% if cat.id == cat_id|add:0 %}
                    <li class="nav-menu " id='menuactive' ><a href="/cat/{{cat.id}}">{{ cat.type_name}}</a></li>
                
                  {% else %}
                    <li class="nav-menu "  ><a href="/cat/{{cat.id}}">{{ cat.type_name}}</a></li>
                  {% endif %}    
                {% endfor %}  
              {% endif %}    
            </ul>
</div>
{% if recently_viewd %}
  <div class="col-md-12">
    <h4> Last Viewed by you</h4>
  <div class="row"> 
  {% for item in recently_viewd %}
    <div class="col-xs-4 col-md-4">      
      <a href='/detail/{{item.id}}' class="thumbnail"><img src='{{item.thumbnail}}' style="min-height:50px;height:50px;"></a>
    </div>
  {% endfor %} 
</div>
</div>
{% endif %}    
</div>
{% if all_items %}
  <div class="col-md-8" >
  <div class="row"> 
  {% for item in all_items %}  
    <div class="col-sm-6 col-md-3" >
      <div class="thumbnail">
        <img  src='{{item.thumbnail}}' alt="{{item.name}}" style="min-height:100px;height:100px;">
        <div class="caption" style="text-align: center">
          <h5>{{item.item.name|slice:":20"}}</h5>
          <h5>Price : INR {{item.item.selling_price}}</h5>
          <p> <a href="/detail/{{item.item_id}}" class="btn btn-default" role="button">Details</a></p>
        </div>
      </div>
    </div>
  {% endfor %} 
  </div>
  </div>
{% else %}
    <p>No Items are available.</p>
{% endif %}
  
  


  


  </div>
<div id="output">

</div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/js/core.js"></script>
    <script src="/site_media/js/jquery.js"></script>
    
<script type="text/javascript">
  var mapp=[];
      $( document ).ready(function() {
                $.ajax({
                      type: "GET",
                      dataType: "json",
                      url:"/search/",
                      success: function(item)
                      {
                        var obj = eval(item.item);
                        for(var i=0;i<obj.length;i++){
                          mapp[obj[i].fields.name]=obj[i].pk;
                          var opt="<option value='"+obj[i].fields.name+"'>";
                          $('#mainsearch').append(opt);
                          }
                      },
                });
        
      });


    var datalist = document.getElementById ("mainsearch");
    var input = document.getElementById ("input");

    input.addEventListener ("keyup", function (event) {
        if (event.which === 13) {
             window.location="/detail/"+mapp[input.value];
        }
    }, false);

  </script>

    <script src="/site_media/js/jquery-ui.js"></script>
    <script src="/site_media/js/bootstrap.min.js"></script>
    <script src="/site_media/js/docs.min.js"></script>
  </body>
</html>
