<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>SellIt | Order</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/site_media/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/site_media/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SellIt </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li><a href="/track_order">Track Order</a></li>
            {% if user.username %}
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li ><a href="/login/">Login</a></li>
            <li class="active"><a href="/register/">Register</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Fill Details to buy {{item_detail.name}}</h3>
            </div>
            <div class="panel-body">
            
            <div class="col-sm-6"> 

             <form class="form-horizontal" role="form" method="post" action="/order/submit/">
              {% csrf_token %}
              <input type="hidden" name="next" value="/" />
              <div class="form-group">
                <label for="id_address" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-8">
              <textarea class="form-control" rows="3" name="id_address" placeholder="Shipping Address"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label for="id_price" class="col-sm-2 control-label">Delivery Charges</label>
                <div class="col-sm-8">
                  <input class="form-control" id="disabledInput"  type="text" placeholder="INR 0.0"  disabled >
                </div>
              </div>

              <div class="form-group">
                <label for="id_price" class="col-sm-2 control-label">Total Price</label>
                <div class="col-sm-8">
                  <input class="form-control" id="disabledInput"  type="text" placeholder="INR {{item_detail.selling_price}}" disabled >
                  <input type="hidden" name="id_totalprice" value="{{item_detail.selling_price}}">
                  <input type="hidden" name="id_itemid" value="{{item_detail.id}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8">
                  <button type="submit" class="btn btn-default" >Submit</button>
                </div>
              </div>

            </form>
            </div>

            <div class="col-sm-4">  
            </div>  
            </div>
          </div>
      </div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/js/jquery.js"></script>
    <script src="/site_media/js/core.js"></script>    
    <script src="/site_media/js/bootstrap.min.js"></script>
    <script src="/site_media/js/docs.min.js"></script>
  </body>
</html>
