<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>SellIt | Order</title>

    <!-- Bootstrap core CSS -->
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/site_media/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/site_media/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      table tr this {
        width: 500px;
      }
    </style>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SellIt 
            {% if user.username %}
            | Hello <b>{{user.username|title}}</b>
            {% endif %}

          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li class="active"><a href="/track_order">Track Order</a></li>
            {% if user.username %}
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li ><a href="/login/">Login</a></li>
            <li class="active"><a href="/register/">Register</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Your Orders Status</h3>
            </div>
            <div class="panel-body">
            
            <div class="col-sm-12"> 
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#home" data-toggle="tab">Ordered</a></li>
                  <li><a href="#profile" data-toggle="tab">Sent</a></li>
                  <li><a href="#messages" data-toggle="tab">Finished</a></li>  
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="home">
                    {% if ordered %}
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Item</th>
                              <th>Shipping Address</th>
                              <th>Total Amount</th>
                            <tr>
                          </thead>
                          <tbody>

                      {% for item in ordered %}
                            <tr>
                              <td> {{forloop.counter}}</td>
                              <td>{{item.item.name}}</td>
                              <td>{{item.order.shipping_address}}</td>
                              <td>{{item.order.total_price}}</td>
                            <tr>  
                      {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% else %}
                      No Items in ordered list.    
                    {% endif %}  
                  </div>
                  <div class="tab-pane" id="profile">
                    {% if sent %}
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Item</th>
                              <th>Shipping Address</th>
                              <th>Total Amount</th>
                            <tr>
                          </thead>
                          <tbody>

                      {% for item in sent %}
                            <tr>
                              <td> {{forloop.counter}}</td>
                              <td>{{item.item.name}}</td>
                              <td>{{item.order.shipping_address}}</td>
                              <td>{{item.order.total_price}}</td>
                            <tr>  
                      {% endfor %}
                          </tbody>
                        </table>
                      </div>    
                    {% else %}
                      No Items in Sent list.    
                    {% endif %} 
                  </div>
                  <div class="tab-pane" id="messages">
                    {% if finished %}
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Item</th>
                              <th>Shipping Address</th>
                              <th>Total Amount</th>
                            <tr>
                          </thead>
                          <tbody>

                      {% for item in finished %}
                            <tr>
                              <td> {{forloop.counter}}</td>
                              <td>{{item.item.name}}</td>
                              <td>{{item.order.shipping_address}}</td>
                              <td>{{item.order.total_price}}</td>
                            <tr>  
                      {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    {% else %}
                      No Items in Finished list.    
                    {% endif %} 
                  </div>
                </div> 
            </div>

            <div class="col-sm-4">  
            </div>  
            </div>
          </div>
      </div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/js/jquery.js"></script>
    <script src="/site_media/js/core.js"></script>    
    <script src="/site_media/js/bootstrap.min.js"></script>
    <script src="/site_media/js/docs.min.js"></script>
  </body>
</html>
